<div class="snippet-menu">
    <div class="dropdown">
        <button class="dropbtn">Basic Tags</button>
        <div class="dropdown-content">
            <a href="#" data-tag="heading"><code>&lt;h1&gt;&lt;/h1&gt;</code> Heading</a>
            <a href="#" data-tag="paragraph"><code>&lt;p&gt;&lt;/p&gt;</code> Paragraph</a>
            <a href="#" data-tag="list"><code>&lt;ul&gt;&lt;/ul&gt;</code> List</a>
            <a href="#" data-tag="link"><code>&lt;a&gt;&lt;/a&gt;</code> Link</a>
            <a href="#" data-tag="image"><code>&lt;img&gt;</code> Image</a>
            <a href="#" data-tag="div"><code>&lt;div&gt;&lt;/div&gt;</code> Div</a>
            <a href="#" data-tag="class"><code>class=""</code> Class</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Container Tags</button>
        <div class="dropdown-content">
            <a href="#" data-tag="div">Div</a>
            <a href="#" data-tag="section">Section</a>
            <a href="#" data-tag="article">Article</a>
            <a href="#" data-tag="span">Span</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Cake Styles</button>
        <div class="dropdown-content">
            <a href="#" data-tag="cake-chocolate">Chocolate Cake CSS</a>
            <a href="#" data-tag="cake-vanilla">Vanilla Cake CSS</a>
            <a href="#" data-tag="cake-strawberry">Strawberry Cake CSS</a>
            <a href="#" data-tag="cake-rainbow">Rainbow Cake CSS</a>
            <a href="#" data-tag="cake-polkadot">Polka Dot Cake CSS</a>
        </div>
    </div>
</div>
